.entourage
    height: max-content-height
    center-on-screen()

    .entourage-background
        position: absolute

    .coming-soon
        position: relative
        margin-left: 135px
        margin-top: 150px