@media screen and (max-device-width: 600px)
    .entourage
        .entourage-background
            position: relative

            img
                margin-top: 100px
                width: 100%
                height: auto

        .coming-soon
            position: absolute
            margin-top: 0px
            margin-left: 0px
            left: 40px
            top: 760px