.entourage

    .adrienne-image
        background url(../images/entourage/Adie.png) 50% 0 no-repeat fixed
        background-size: 200px auto
    .sue-image
        background url(../images/entourage/Sue.png) 50% 0 no-repeat fixed
        background-size: 200px auto
    .geraldine-image
        background url(../images/entourage/Ger.png) 50% 0 no-repeat fixed
        background-size: 200px auto
    .rianne-image
        background url(../images/entourage/Rianne.png) 50% 0 no-repeat fixed
        background-size: 200px auto
    .joel-image
        background url(../images/entourage/Joel.png) 50% 0 no-repeat fixed
        background-size: 200px auto
        :hover
            background url(../images/entourage/Joel2.png) 50% 0 no-repeat fixed
    .jason-image
        background url(../images/entourage/Jason.png) 50% 0 no-repeat fixed
        background-size: 200px auto
        :hover
            background url(../images/entourage/Jason2.png) 50% 0 no-repeat fixed
    .nicholas-image
        background url(../images/entourage/Adie.png) 50% 0 no-repeat fixed
        background-size: 200px auto
        :hover
            background url(../images/entourage/Adie.png) 50% 0 no-repeat fixed
    .gabriel-image
        background url(../images/entourage/Adie.png) 50% 0 no-repeat fixed
        background-size: 200px auto
        :hover
            background url(../images/entourage/Adie.png) 50% 0 no-repeat fixed
