@media screen and (max-device-width: 800px)
    .person
        float: none
        margin: 0px auto
        width: 100%

        .image
            img
                height: 500px
                width: auto
                display: block
                margin: auto
        .info
            p
                margin: 0px
                text-align: center

            .name
                font-size: 50px