@media screen and (max-device-width: 800px)
    .person
        float: none
        margin: 20px auto

        .image
            img
                height: 60%
                width: auto

        .info
            p
                margin: 0px
                text-align: center

            .name
                font-size: 25px