@media screen and (max-device-width: 800px)
    .person
        float: none
        margin: 50px 10px
        width: 90%
        clear: both

        .image
            img
                margin: 0px auto
                display: block
                height: 80%
                width: auto

        .info
            p
                margin: 0px
                text-align: center

            .name
                font-size: 25px