.person
    float: left
    margin: 50px 0px
    width: 11.9%

    .image
        img
            height: 500px
            width: auto

    .info
        p
            margin: 0px
            text-align: center

        .name
            font-size: 25px