.details
    .details-top-links
        img.event-details(src='images/details/one.png')
        img.map-travel.margin-left(src='images/details/two.png')
        img.stay-local.margin-left(src='images/details/three.png')

    .event-details-container.drawer-item
        event-details-drawer()

    .map-travel-container.drawer-item
        map-travel-drawer()

    .stay-local-container.drawer-item
        stay-local-drawer()