div.details
    div.details-content
        div#ceremony-info
            p.details-title Venue
            p The ceremony will be held at a beachfront residence on Useless Bay, Whidbey Island. Parking will be provided off-site, and full details including the event address and directions will be included with the RSVP confirmation.
            
            p.details-title Events
            ul
                li Eat
                li Listen to people talk
                li Clap
                li Dance
                li Drink

        div#entourage
            p.details-title Entourage
            
            p.details-title Bridesmaids

            ul
                li Sophie Oscar
                    Maid of Honor, Sister of the Bride, Partner in Crime
                li Jessica Smith
                    Bridesmaid, Best Friend
                li Maddie DeVries

            p.details-title Groomsmen