div.details
    div.details-content
        div#ceremony-info
            p.details-title Location
            p The event will be held on an island near the pacific ocean.
            
            p.details-title Events
            ul
                li Eat
                li Listen to people talk
                li Clap
                li Dance
                li Drink
            p.details-title Stay Local
            ul
                li Best Western
                li Hyatt
        div#entourage
            p Entourage.