.details
    .details-top-links
        img.event-details(src='images/details/one.png')
        img.map-travel.top-links-margin(src='images/details/two.png')
        img.stay-local.top-links-margin(src='images/details/three.png')

    .details-master-drawer

    .test-foo.closed-drawer

    .event-details-drawer.closed-drawer
        event-details-drawer()

    .map-travel-drawer.closed-drawer
        map-travel-drawer()

    .stay-local-drawer.closed-drawer
        stay-drawer-drawer()
