div.details
    div.details-content
        div#ceremony-info
            p.details-title Venue
            p The ceremony will be held at a beachfront residence in Useless Bay on Whidbey Island. Parking will be provided off-site, and full details including the event address and directions will be included with the RSVP confirmation.
            

            p.details-title Events
            ul
                li Music Starts
                li We Get Married
                li Eat
                li We Celebrate


        div#entourage
            p.details-title Entourage
            
            p.details-title Bridesmaids
            ul
                li Sophie Oscar | Maid of Honor
                li Jessica Smith | Bridesmaid
                li Maddie DeVries | Bridesmaid
                li Samantha Harrison | Bridesmaid
                li Samantha Sanders | Bridesmaid
                li Julia Pyke | Bridesmaid

            p.details-title Groomsmen
            u1
                li Jeffrey Pyke | Best Man
                li Robbie Waddell | Groomsman
                li Kyle Karpack | Groomsman
                li Jason Edds | Groomsman
                li Hunter Oscar | Groomsman
                li Jason Pyke | Groomsman