.details
    .story-content
        story-content(id="pre", next-set="one")
        story-content(id="one", next-set="two")
        story-content(id="two", next-set="three", last-item="true")
        story-content(id="three")

