.event-details-drawer
    p.scroll-to-top BACK TO TOP
    img(src='images/details/one.png')
    img.non-left(src='images/details/building.jpg')

    .event-details-text
        p.top-text PLEASE JOIN US IN CELEBRATING OUR
        p.wedding WEDDING

        p.name The Metropolitan Building

        .address-container
            p.address 44-01 11th STREET
            p.address LONG ISLAND CITY
            p.address QUEENS, NY  11101

        .time-info
            p.time-label CEREMONY
            p.time-description 4:30PM
            p.time-label COCKTAIL HOUR
            p.time-description 5-6PM
            p.time-label RECEPTION
            p.time-description 6-11PM
            p.time-label AFTER PARTY
            p.time-description | LOCATION TBD