.map-travel-drawer
    p.scroll-to-top BACK TO TOP
    .left-info
        p.info-title BY SUBWAY FROM MANHATTAN

        p.info-header CLOSEST DROPOFF:
        .top-paragraph
            p.info-text.one TAKE THE QUEENS BOUND E OR M TRAIN TO
            p.info-text.two THE COURT SQUARE STOP (FIRST STOP IN
            p.info-text.three QUEENS). EXIT TOWARD THE REAR OF TRAIN.
            p.info-text.four WALK 1 BLOCK TO 11TH STREET, TURN RIGHT
            p.info-text.five AND WALK 2 BLOCKS NORTH TO 44TH AVE.

        .bottom-paragraph
            p.info-text.six ALTERNATIVELY, TAKE THE 7 TRAIN TO THE
            p.info-text.seven COURT SQUARE STOP; OR THE N OR Q TRAIN
            p.info-text.eight TO THE QUEENSBORO PLAZA STOP.

    img.map-travel.margin-left(src='images/details/two.png')

    .right-info
        p.info-title BY AUTOMOBILE
        p.info-text PLEASE FIND DRIVING DIRECTIONS HERE:
        a.info-link(href="http://www.metropolitanbuilding.com/directions.html", target="_blank") http://www.metropolitanbuilding.com/directions.html

    .map-container
        img.map-travel(src='images/details/map-local.png')