.stay-local-drawer
    p.scroll-to-top BACK TO TOP
    .top-info
        p.info-title HOTELS WITHIN WALKING DISTANCE

        .info-text-block
            p FOLLOWING HOTELS ARE WITHIN A 5 MINUTE WALKING DISTANCE. UNFORTUNATELY, WE COULD NOT GET A HOTEL BLOCK WITH THESE, BUT FEEL FREE TO BOOK HERE IF YOU’D LIKE TO STAY CLOSE TO THE VENUE.

        .address-block.non-last-address-block
            p.address.hotel-name(data-link="http://bit.ly/1cRMz9n", target="_blank") WYNDHAM GARDEN LONG ISLAND CITY
            p.address.hotel-name(data-link="http://bit.ly/1cRMz9n", target="_blank") MANHATTAN VIEW
            p.address(data-link="http://bit.ly/1cRMz9n", target="_blank") 44-29 9TH STREET
            p.address(data-link="http://bit.ly/1cRMz9n", target="_blank") LONG ISLAND CITY, NY 11101
            p.address(data-link="http://bit.ly/1cRMz9n", target="_blank") 718.906.1900

        .address-block.non-last-address-block
            p.address.hotel-name(data-link="http://www.zhotelny.com/", target="_blank") Z HOTEL NYC
            p.address(data-link="http://www.zhotelny.com/", target="_blank") 11-01 43RD AVENUE
            p.address(data-link="http://www.zhotelny.com/", target="_blank") LONG ISLAND CITY, NY 11101
            p.address(data-link="http://www.zhotelny.com/", target="_blank") 877.256.5565

        .address-block
            p.address.hotel-name(data-link="http://www.ravelhotel.com/", target="_blank") RAVEL HOTEL
            p.address(data-link="http://www.ravelhotel.com/", target="_blank") 8-08 QUEENS PLAZA SOUTH
            p.address(data-link="http://www.ravelhotel.com/", target="_blank") LONG ISLAND CITY, NY 11101
            p.address(data-link="http://www.ravelhotel.com/", target="_blank") 718.521.4301

    img.stay-local(src='images/details/three.png')

    .bottom-info
        p.info-title HOTELS WITHIN A 20 MINUTE WALK OR 5 MINUTE TAXI RIDE
        .info-text-block
            p THE FOLLOWING HOTELS ARE A BIT FURTHER FROM THE VENUE BUT STILL EASILY ACCESIBLE BY FOOT OR TAXI. PLEASE MENTION THE DEIPARINE/PARRISH WEDDING WHEN BOOKING AT THESE HOTELS TO GET THE DISCOUNTED RATE.

        .address-block.non-last-address-block
            p.address(data-link="http://www.holidayinn.com/redirect?path=hd&brandCode=hi&localeCode=en&regionCode=1&hotelCode=LGALI&_PMID=99801505&GPC=DPW", target="_blank").hotel-name HOLIDAY INN MANHATTAN VIEW
            p.address(data-link="http://www.holidayinn.com/redirect?path=hd&brandCode=hi&localeCode=en&regionCode=1&hotelCode=LGALI&_PMID=99801505&GPC=DPW", target="_blank") 39-05 29TH STREET
            p.address(data-link="http://www.holidayinn.com/redirect?path=hd&brandCode=hi&localeCode=en&regionCode=1&hotelCode=LGALI&_PMID=99801505&GPC=DPW", target="_blank") LONG ISLAND CITY, NY 11101
            p.address(data-link="http://www.holidayinn.com/redirect?path=hd&brandCode=hi&localeCode=en&regionCode=1&hotelCode=LGALI&_PMID=99801505&GPC=DPW", target="_blank") 718.707.3700
            p.address(data-link="http://www.holidayinn.com/redirect?path=hd&brandCode=hi&localeCode=en&regionCode=1&hotelCode=LGALI&_PMID=99801505&GPC=DPW", target="_blank") GROUP CODE: DPW

        .address-block
            p.address.hotel-name(data-link="http://www.starwoodhotels.com/fourpoints/property/overview/index.html?propertyID=3540", target="_blank") FOUR POINTS BY SHERATON LONG ISLAND CITY
            p.address(data-link="http://www.starwoodhotels.com/fourpoints/property/overview/index.html?propertyID=3540", target="_blank") 27-05 39TH AVENUE
            p.address(data-link="http://www.starwoodhotels.com/fourpoints/property/overview/index.html?propertyID=3540", target="_blank") LONG ISLAND CITY, NY 11101
            p.address(data-link="http://www.starwoodhotels.com/fourpoints/property/overview/index.html?propertyID=3540", target="_blank") 718.786.8500
            p.address(data-link="http://www.starwoodhotels.com/fourpoints/property/overview/index.html?propertyID=3540", target="_blank") GROUP CODE: DP1017

