.home
    img.names(src='images/main-page-names.png')

    .image-sequence
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span