.home
    .home-background

    img.name-and-date(src='images/home/name-and-date.png')

    .image-sequence
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span