.home
    .home-background
        img(src="images/home/content-background.jpg")

    h1.name Jonathan & Mackenzie
    h2.date July 17th, 2014

    .image-sequence
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span