.home
    img.names(src='images/home/name-and-date.png')

    .image-sequence
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span
        li
            span