extends layout

block body
  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="/about") About
        li  
          a(href="/proposal") The Proposal
        li
          a(href="/photos") Photos
        li
          a(href="/wedding") The Wedding
        li
          a(href="/registry") Registry
        li
          a(href="/guestbook") Guestbook
  .container(ng-view)

block scripts
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='lib/bootstrap/js/bootstrap.min.js')
  script(src='js/bundle.js')