.gallery
    div#masongallery
        a.group(href="images/gallery/1.jpg")
            img.item(src="images/gallery/1t.jpg")
        a.group(href="images/gallery/2.jpg")
            img.item.hl(src="images/gallery/2t.jpg")
        a.group(href="images/gallery/3.jpg")
            img.item(src="images/gallery/3t.jpg")
        a.group(href="images/gallery/4.jpg")
            img.item(src="images/gallery/4t.jpg")
        a.group(href="images/gallery/5.jpg")
            img.item(src="images/gallery/5t.jpg")
        a.group(href="images/gallery/6.jpg")
            img.item(src="images/gallery/6t.jpg")
        a.group(href="images/gallery/7.jpg")
            img.item(src="images/gallery/7t.jpg")
        a.group(href="images/gallery/8.jpg")
            img.item.hl(src="images/gallery/8t.jpg")
        a.group(href="images/gallery/9.jpg")
            img.item(src="images/gallery/9t.jpg")
        a.group(href="images/gallery/10.jpg")
            img.item(src="images/gallery/10t.jpg")
        a.group(href="images/gallery/11.jpg")
            img.item(src="images/gallery/11t.jpg")
        a.group(href="images/gallery/12.jpg")
            img.item(src="images/gallery/12t.jpg")
        a.group(href="images/gallery/13.jpg")
            img.item(src="images/gallery/13t.jpg")
        a.group(href="images/gallery/14.jpg")
            img.item(src="images/gallery/14t.jpg")
        a.group(href="images/gallery/15.jpg")
            img.item.hl(src="images/gallery/15t.jpg")
        a.group(href="images/gallery/16.jpg")
            img.item(src="images/gallery/16t.jpg")
        a.group(href="images/gallery/17.jpg")
            img.item(src="images/gallery/17t.jpg")
        a.group(href="images/gallery/18.jpg")
            img.item(src="images/gallery/18t.jpg")
        a.group(href="images/gallery/19.jpg")
            img.item(src="images/gallery/19t.jpg")
        a.group(href="images/gallery/20.jpg")
            img.item(src="images/gallery/20t.jpg")
        a.group(href="images/gallery/21.jpg")
            img.item(src="images/gallery/21t.jpg")
        a.group(href="images/gallery/22.jpg")
            img.item(src="images/gallery/22t.jpg")
        a.group(href="images/gallery/23.jpg")
            img.item(src="images/gallery/23t.jpg")
        a.group(href="images/gallery/24.jpg")
            img.item(src="images/gallery/24t.jpg")
        a.group(href="images/gallery/25.jpg")
            img.item(src="images/gallery/25t.jpg")
        a.group(href="images/gallery/26.jpg")
            img.item(src="images/gallery/26t.jpg")
        a.group(href="images/gallery/27.jpg")
            img.item.hl(src="images/gallery/27t.jpg")
        a.group(href="images/gallery/28.jpg")
            img.item(src="images/gallery/28t.jpg")
        a.group(href="images/gallery/29.jpg")
            img.item(src="images/gallery/29t.jpg")
        a.group(href="images/gallery/30.jpg")
            img.item(src="images/gallery/30t.jpg")
        a.group(href="images/gallery/31.jpg")
            img.item(src="images/gallery/31t.jpg")
        a.group(href="images/gallery/32.jpg")
            img.item(src="images/gallery/32t.jpg")
        a.group(href="images/gallery/33.jpg")
            img.item(src="images/gallery/33t.jpg")
        a.group(href="images/gallery/34.jpg")
            img.item(src="images/gallery/34t.jpg")
        a.group(href="images/gallery/35.jpg")
            img.item(src="images/gallery/35t.jpg")
        a.group(href="images/gallery/36.jpg")
            img.item(src="images/gallery/36t.jpg")
        a.group(href="images/gallery/37.jpg")
            img.item(src="images/gallery/37t.jpg")
        a.group(href="images/gallery/38.jpg")
            img.item.hl(src="images/gallery/38t.jpg")
        a.group(href="images/gallery/39.jpg")
            img.item(src="images/gallery/39t.jpg")
        a.group(href="images/gallery/40.jpg")
            img.item(src="images/gallery/40t.jpg")