.gallery
    div#masongallery.js-masonry
        a.group(href="images/gallery/1-1.jpg");
           img.item.w2(src="images/gallery/1-2t.jpg");
        a.group(href="images/gallery/1-1.jpg");
           img.item(src="images/gallery/1-2t.jpg");
        a.group(href="images/gallery/1-1.jpg");
           img.item(src="images/gallery/1-2t.jpg");
        a.group(href="images/gallery/1-1.jpg");
           img.item.w2(src="images/gallery/1-2t.jpg");
        a.group(href="images/gallery/1-1.jpg");
           img.item(src="images/gallery/1-2t.jpg");
        a.group(href="images/gallery/1-1.jpg");
           img.item(src="images/gallery/1-2t.jpg");
        a.group(href="images/gallery/1-1.jpg");
           img.item.w2(src="images/gallery/1-2t.jpg");