.gallery
    div#masongallery
        a.group(href="images/gallery/1.jpg")
            img.item(src="images/gallery/1t.jpg")
        a.group(href="images/gallery/2.jpg")
            img.item.hl(src="images/gallery/2t.jpg")
        a.group(href="images/gallery/3.jpg")
            img.item(src="images/gallery/3t.jpg")
        a.group(href="images/gallery/4.jpg")
            img.item(src="images/gallery/4t.jpg")
        a.group(href="images/gallery/5.jpg")
            img.item(src="images/gallery/5t.jpg")
        a.group(href="images/gallery/6.jpg")
            img.item(src="images/gallery/6t.jpg")
        a.group(href="images/gallery/7.jpg")
            img.item(src="images/gallery/7t.jpg")
        a.group(href="images/gallery/8.jpg")
            img.item.hl(src="images/gallery/8t.jpg")
        a.group(href="images/gallery/9.jpg")
            img.item(src="images/gallery/9t.jpg")
        a.group(href="images/gallery/10.jpg")
            img.item(src="images/gallery/10t.jpg")
        a.group(href="images/gallery/11.jpg")
            img.item(src="images/gallery/11t.jpg")
        a.group(href="images/gallery/12.jpg")
            img.item(src="images/gallery/12t.jpg")
        a.group(href="images/gallery/13.jpg")
            img.item(src="images/gallery/13t.jpg")
        a.group(href="images/gallery/14.jpg")
            img.item(src="images/gallery/14t.jpg")
        a.group(href="images/gallery/15.jpg")
            img.item(src="images/gallery/15t.jpg")
        a.group(href="images/gallery/16.jpg")
            img.item(src="images/gallery/16t.jpg")