.gallery
    #masongallery
        a.item(href="images/gallery/1-1.jpg");
           img(src="images/gallery/1-2t.jpg");
        a.item.w2(href="images/gallery/1-1.jpg");
           img(src="images/gallery/1-2t.jpg");
        a.item(href="images/gallery/1-1.jpg");
           img(src="images/gallery/1-2t.jpg");
        a.item.w2(href="images/gallery/1-1.jpg");
           img(src="images/gallery/1-2t.jpg");
        a.item(href="images/gallery/1-1.jpg");
           img(src="images/gallery/1-2t.jpg");
        a.item(href="images/gallery/1-1.jpg");
           img(src="images/gallery/1-2t.jpg");