.gallery
    a.group(href="images/gallery/1-1.jpg")
        img.one-one(src="images/gallery/1-1.jpg")
    a.group(href="images/gallery/1-2.jpg")
        img.one-two.gallery-right-img(src="images/gallery/1-2.jpg")
    a.group(href="images/gallery/1-3.jpg")
        img.one-three.gallery-right-img(src="images/gallery/1-3.jpg")
    a.group(href="images/gallery/1-4.jpg")
        img.one-four.gallery-right-img(src="images/gallery/1-4.jpg")
    a.group(href="images/gallery/2-1.jpg")
        img.two-one.gallery-bottom-img(src="images/gallery/2-1.jpg")
    a.group(href="images/gallery/2-2.jpg")
        img.two-two.gallery-right-img.gallery-bottom-img.gallery-row-two-lift(src="images/gallery/2-2.jpg")
    a.group(href="images/gallery/2-3.jpg")
        img.two-three.gallery-right-img.gallery-bottom-img.gallery-row-two-lift(src="images/gallery/2-3.jpg")
    a.group(href="images/gallery/3-1.jpg")
        img.three-one.gallery-bottom-img.gallery-row-three-lift(src="images/gallery/3-1.jpg")
    a.group(href="images/gallery/3-2.jpg")
        img.three-two.gallery-right-img.gallery-bottom-img(src="images/gallery/3-2.jpg")
    a.group(href="images/gallery/3-3.jpg")
        img.three-three.gallery-right-img.gallery-bottom-img(src="images/gallery/3-3.jpg")
    a.group(href="images/gallery/3-4.jpg")
        img.three-four.gallery-right-img.gallery-bottom-img.gallery-row-three-lift(src="images/gallery/3-4.jpg")
    a.group(href="images/gallery/4-1.jpg")
        img.four-one.gallery-right-img.gallery-bottom-img(src="images/gallery/4-1.jpg")
    a.group(href="images/gallery/4-2.jpg")
        img.four-two.gallery-right-img.gallery-bottom-img(src="images/gallery/4-2.jpg")
    a.group(href="images/gallery/5-1.jpg")
        img.five-one.gallery-bottom-img(src="images/gallery/5-1.jpg")
    a.group(href="images/gallery/5-2.jpg")
        img.five-two.gallery-right-img.gallery-bottom-img(src="images/gallery/5-2.jpg")
    a.group(href="images/gallery/6-1.jpg")
        img.six-one(src="images/gallery/6-1.jpg")