@media screen and (max-device-width: 600px)
    .registry
        .registry-text
            position: absolute
            top: 30px
            left: 550px
            color: white

        .registry-image-props
            position: absolute
            top: 100px
            left: 550px