@media screen and (max-device-width: 800px)
    .registry
        .text-container
            padding: 10px
            position: absolute
            top: 570px
            center-in-screen()
            left: 0
            right: 0
            width: 100% !important
            max-width: 100% !important
            .registry-text
                float: none !important
                width: 100% !important
                .registry-title
                    font-size: 75px !important
                .registry-link
                    font-size: 60px !important
                    overflow-wrap: break-word
                max-width: 100% !important
            .rsvp-text
                float: none !important
                width: 100% !important
                max-width: 100% !important
                h1
                    font-size: 80px !important
                .registry-rsvps
                    font-size: 70px !important
                    
                    .attribution
                        font-size: 50px !important
                    q
                        font-size: 70px !important