.registry
    .registry-background
        position: absolute
        top: 0px
        z-index: -1;

        img
            width: 100%
            height: auto

    .registry-text
        position: absolute
        top: 150px
        left: 800px
        color: white

        .registry-title
            margin-bottom: 5px
            font-size: 24px
        .registry-link
            font-size: 18px

        a
            color: white
            text-decoration: none
        p
            margin: 0px

    .registry-image-props
        position: fixed
        bottom: 10px
        left: 10px

        a
            font-size: 14px
            color: white