.registry
    .registry-text
        margin-top: 30px
        margin-bottom: 30px
        margin-left: auto
        margin-right: auto
        text-align: center
        img
            border-radius: 10px
            margin-top: 20px
            width: 430px
        
        .registry-left
            float: left
            width: 45%
            max-width: 500px

        .registry-right
            float: right
            width: 45%
            max-width: 500px