.story-content(ng-controller="storyContentController")
    .image.content
    .container.content(ng-show="fullVersion")
        .text.content
            p {{text}}
        .poem.content
            p {{line1}}
            p {{line2}}
            p {{line3}}
            p {{line4}}

        a.next
            img(src="images/story/arrow-half.png")
