.story
    .story-content
        story-content(id="pre", next-set="one")
        story-content(id="one", next-set="two")
        story-content(id="two", next-set="three")
        story-content(id="three", next-set="four")
        story-content(id="four", next-set="four")