main-font-color = #222
secondary-font-color = white
navigation-font-color = white
dark = #333
white = #ffffff
bgtexture = url('/images/main/bg-texture.png')
bgcolor = rgba(255,255,255,0.5)
headercolor = rgba(255,255,255,0.5)