main-font = "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;

@font-face
   font-family: MyScript
   font-style: normal
   src: url(../fonts/script/script-webfont.ttf),
        url(../fonts/script/script-webfont.eot),
        url(../fonts/script/script-webfont.svg),
        url(../fonts/script/script-webfont.woff)