body
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

center-on-screen()
    margin-left: auto
    margin-right: auto
    max-width: 87%

.navigation
    clear: both
    center-on-screen()
    margin-top: 50px
    .nav-item
        font-size: 20px
        color: menu-item-gold
        margin: 0px 55px
        float: left
        list-style-type: none

    .nav-item a
        color: menu-item-gold
        text-decoration: none

.nav-spacer
    height: 50px

.container
    height: content-height
    center-on-screen()
    clear: left
    background-image: url(../images/neutral-backdrop.png)
    background-size: 100% 100%
    background-repeat: no-repeat
    background-attachment: fixed

.container-registry
    background: url(../images/registry.jpg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover