body
    font-family: main-font
    color: main-font-color
    font-weight: 100

center-on-screen()
    margin-left: auto
    margin-right: auto
    max-width: 1080px
    max-height: max-content-height

.navigation
    clear: both
    center-on-screen()
    margin-top: 50px
    .nav-item
        font-size: 18px
        color: secondary-font-color
        margin: 0px 40px
        float: left
        list-style-type: none

    .nav-item
        a
            color: secondary-font-color
            text-decoration: none

.nav-spacer
    height: 40px