@media screen and (max-device-width: 800px)
    .navigation
        clear: both
        center-on-screen()
        margin-top: 5px
        .nav-item
            font-size: 75px
            color: secondary-font-color
            clear: both
            list-style-type: none

        .nav-item
            a
                color: secondary-font-color
                text-decoration: none

        .first-nav-item
            margin-left: 0px
        .non-first-nav-item
            margin-left: 0px

    .nav-spacer
        height: 0px
