body
    font-family: MainFont
    color: main-font-color
    font-weight: 100
    margin: 0px
    overflow-y: scroll
    overflow-y: -moz-scrollbars-vertical
    overflow-x: hidden
    background: url('/images/main/main-bg.jpg')
    background-attachment: fixed

center-on-screen()
    margin-left: auto
    margin-right: auto
    max-width: 1080px
    max-height: max-content-height

.navigation
    clear: both
    center-on-screen()
    margin-top: 50px
    padding-top: 1px
    padding-bottom: 5px
    border-radius: 8px
    background: headercolor
    overflow: auto

    .nav-item
        font-size: 21px
        color: navigation-font-color
        float: left
        list-style-type: none
        margin-bottom:10px
        

    .nav-item
        a
            color: navigation-font-color
            text-decoration: none
            text-shadow: 0px 0px 5px #111
            

    .first-nav-item
        margin-left: 80px
        
    .non-first-nav-item
        margin-left: 70px


.nav-spacer
    height: 40px

.main-nav-color.nav-color-changer
    a
        color: secondary-font-color

.registry-nav-color.nav-color-changer
    a
        color: white