@media screen and (max-device-width: 800px)
    .home
        height: max-content-height
        center-on-screen()

        .home-background
            position: relative
            z-index: -1

            img
                width: 100%;
                height: auto;
                margin-top: 100px;

    .home
        .name-and-date
            position: absolute
            width: 590px
            height: auto
            top: 570px
            left: 185px
            margin-top: 120px
            margin-left: 0px
            float: none

        .image-sequence
            display: none