.home
    height: max-content-height
    text-align: center
    width: 100%

.home
    .home-background
        position: fixed
        top: 0
        left: 0
        z-index: -1
        height: 100%
        width: 100%
        background-image: url(../images/home/six.jpg);
        background-size: cover

    color: white

    .name
        font-size: 120px
        margin-top: 0.5em
        font-weight: 100
    .date
        font-size: 40px
        margin-top: 200px

    .image-sequence
        position: relative

        li
            list-style-type: none
            span
                width: 390px
                margin-left: 120px
                height: max-content-height - 30
                margin-top: 15px
                position: absolute
                color: transparent
                opacity: 0
                -webkit-backface-visibility: hidden
                -webkit-animation: imageAnimation 7s linear infinite 0s
                -moz-animation: imageAnimation 7s linear infinite 0s
                -o-animation: imageAnimation 7s linear infinite 0s
                -ms-animation: imageAnimation 7s linear infinite 0s
                animation: imageAnimation 7s linear infinite 0s
