.home
    height: max-content-height
    center-on-screen()

    .home-background
        position: absolute

.home

    .name-and-date
        position: relative
        width: 490px
        height: auto
        margin-top: 120px
        margin-left: 65px
        float: left

    .image-sequence
        position: relative

        li
            list-style-type: none
            span
                width: 390px
                margin-left: 120px
                height: max-content-height - 30
                margin-top: 15px
                position: absolute
                color: transparent
                opacity: 0
                -webkit-backface-visibility: hidden
                -webkit-animation: imageAnimation 7s linear infinite 0s
                -moz-animation: imageAnimation 7s linear infinite 0s
                -o-animation: imageAnimation 7s linear infinite 0s
                -ms-animation: imageAnimation 7s linear infinite 0s
                animation: imageAnimation 7s linear infinite 0s

    @keyframes imageAnimation
        0%
            opacity: 0
        7%
            opacity: 1
        16%
            opacity: 1
        28%
            opacity: 0
        100%
            opacity: 0

    .image-sequence
        li:nth-child(1)
            span
                background-image: url(../images/home/sequence/3-1.jpg)
                background-size: auto max-content-height - 30

    .image-sequence
        li:nth-child(2)
            span
                background-image: url(../images/home/sequence/3-1.jpg)
                background-size: auto max-content-height - 30
                -webkit-animation-delay: 1s;
                -moz-animation-delay: 1s;
                -o-animation-delay: 1s;
                -ms-animation-delay: 1s;
                animation-delay: 1s;

    .image-sequence
        li:nth-child(3)
            span
                background-image: url(../images/home/sequence/3-1.jpg)
                background-size: auto max-content-height - 30
                -webkit-animation-delay: 2s;
                -moz-animation-delay: 2s;
                -o-animation-delay: 2s;
                -ms-animation-delay: 2s;
                animation-delay: 2s;

    .image-sequence
        li:nth-child(4)
            span
                background-image: url(../images/home/sequence/3-1.jpg)
                background-size: auto max-content-height - 30
                -webkit-animation-delay: 3s;
                -moz-animation-delay: 3s;
                -o-animation-delay: 3s;
                -ms-animation-delay: 3s;
                animation-delay: 3s;

    .image-sequence
        li:nth-child(5)
            span
                background-image: url(../images/home/sequence/3-1.jpg)
                background-size: auto max-content-height - 30
                -webkit-animation-delay: 4s;
                -moz-animation-delay: 4s;
                -o-animation-delay: 4s;
                -ms-animation-delay: 4s;
                animation-delay: 4s;

    .image-sequence
        li:nth-child(6)
            span
                background-image: url(../images/home/sequence/3-1.jpg)
                background-size: auto max-content-height - 30
                -webkit-animation-delay: 5s;
                -moz-animation-delay: 5s;
                -o-animation-delay: 5s;
                -ms-animation-delay: 5s;
                animation-delay: 5s;

    .image-sequence
        li:nth-child(7)
            span
                background-image: url(../images/home/sequence/3-1.jpg)
                background-size: auto max-content-height - 30
                -webkit-animation-delay: 6s;
                -moz-animation-delay: 6s;
                -o-animation-delay: 6s;
                -ms-animation-delay: 6s;
                animation-delay: 6s;