div.registry
    .registry-background
        img(src="images/registry/content-background.jpg")

    div.registry-text
        p.registry-title PLEASE VISIT OUR REGISTRY AT
        a.registry-link(href="http://www.zola.com/registry/justineandcory", target="_blank") http://www.zola.com/registry/justineandcory

    div.registry-image-props
        a(href="http://www.kevinliangphotography.com/", target="_blank") PHOTO CREDIT: KEVIN LIANG PHOTOGRAPHY