div.registry
    div.registry-text
        p PLEASE VISIT OUR REGISTRY AT
        a(href="http://www.zola.com/registry/justineandcorybill") http://www.zola.com/registry/justineandcorybill

    div.registry-image-props
        p PHOTO CREDIT: KEVIN LIANG PHOTOGRAPHY