div.registry
    div.registry-text
        p PLEASE VISIT OUR REGISTRY AT
        a(href="http://www.zola.com/registry/justineandcory", target="_blank") http://www.zola.com/registry/justineandcory

    div.registry-image-props
        p PHOTO CREDIT: KEVIN LIANG PHOTOGRAPHY