div.registry
    
    .registry-background
        img(src="images/registry/content-background.jpg")

        
    div.text-container
        div.registry-text
            p.registry-title PLEASE VISIT OUR REGISTRY AT
            a.registry-link(href="http://www.amazon.com/registry/wedding/1DT96M2C0M68N", target="_blank") http://www.amazon.com/registry/wedding/1DT96M2C0M68N
            p.registry-title or
            a.registry-link(href="http://www1.macys.com/registry/wedding/guest/?registryId=6125791", target="_blank") http://www1.macys.com/registry/wedding/guest/?registryId=6125791

        div.rsvp-text
            h1 GUESTBOOK
            div.registry-rsvps#rsvps

        