div.registry
    div.text-container
        div.registry-text

            a.registry-link(href="http://www.amazon.com/registry/wedding/1DT96M2C0M68N", target="_blank")
                img(src="images/registry/amazon.jpg")          

            a.registry-link(href="http://www1.macys.com/registry/wedding/guest/?registryId=6125791", target="_blank")
                img(src="images/registry/macys.gif")