div.registry
    
    .registry-background
        img(src="images/registry/content-background.jpg")

        
    div.text-container
        div.registry-text
            img(src="images/registry/amazon.jpg")
            br
            img(src="images/registry/macys.gif")
        

        