@media screen and (max-device-width: 600px)
    .details
        clear: both

        .details-top-links
            width: 100%
            margin-left: auto
            margin-right: auto
            clear: both
            margin-top: 0px

            .margin-left
                margin-left: 0px

            img
                display: block
                margin: auto
                width: 60%
                height: auto
                cursor: pointer
                clear: both