@media screen and (max-device-width: 600px)
    .details
        clear: both

        .scroll-to-top
            font-size: 40px

        .details-top-links
            margin-top: 0px

            .margin-left
                display: block
                margin-left: auto

            img
                display: block
                margin: auto
                width: 50%
                height: auto
                cursor: pointer
                clear: both