.details
    height: max-content-height
    center-on-screen()
.details
    .details-content
        text-align: center
        margin-left: auto
        margin-right: auto
        font-size: 30px
        width: 48%
        max-width: 800px
        margin-top: 20px

        a
            color: lightblue
            text-decoration: none
        p
            margin: 0px
        ul
            padding: 0
            li
                list-style: none
        font-family: "Merriweather", serif
        font-weight: 100
        
        .details-title
            margin-bottom: 10px
            font-size: 50px

        .details-details
            font-size: 40px
