.details
    center-on-screen()
    .details-top-links
        margin-top: 145px

        img
            width: 320px
            height: auto
            cursor: pointer

        .top-links-margin
            margin-left: 60px

    .closed-drawer
        display: none

    .closing-drawer-position
        x: 3000;

    .open-drawer
        display: block

    .opening-drawer-position
        x: -1000

    .test-foo
        width: 500px
        height: 500px
        border: 2px solid black
        position: absolute