@media screen and (max-device-width: 600px)
    .details
        .details-top-links
            margin-top: 145px

            .margin-left
                margin-left: 0px

            img
                width: 60%
                height: auto
                cursor: pointer
                clear: both