.details
    width: 100%
    .play-button
        position: fixed
        z-index: 12

        .play-image
            z-index: 10
            position: fixed
            left: 25px
            top: 115px
            cursor: default
            opacity: .8

        .play-text
            font-family: MyScript, cursive;
            font-size: 72px
            color: secondary-font-color
            z-index: 11
            position: fixed
            left: 45px
            top: 40px
            cursor: default

    .pre-image
        background url(../images/details/pre.jpg) 50% 0 no-repeat fixed
    .one-image
        background url(../images/details/one.jpg) 50% 0 no-repeat fixed
    .two-image
        background url(../images/details/two.jpg) 50% 0 no-repeat fixed
    .three-image
        background url(../images/details/three.jpg) 50% 0 no-repeat fixed
    .four-image
        background url(../images/details/four.jpg) 50% 0 no-repeat fixed
    .five-image
        background url(../images/details/five.jpg) 50% 0 no-repeat fixed
    .six-image
        background url(../images/details/six.jpg) 50% 0 no-repeat fixed
    .seven-image
        background url(../images/details/seven.jpg) 50% 0 no-repeat fixed