@media screen and (max-device-width: 600px)
    .details
        .event-details-drawer
            margin-top: 500px
            height: 1000px

            .non-left
                margin-left: 0px

            img
                width: 100%
                height: auto
                clear: both

            .event-details-text
                width: 100%
                margin-left: 0px
                clear: both

                .top-text
                    margin-top: 0px
                    margin-bottom: 0px
                    font-size: 55px
                    word-spacing: .25em
                    text-align: center

                .wedding
                    margin-top: 5px
                    margin-bottom: 0px
                    font-size: 55px
                    letter-spacing: 120px
                    margin-right: 0px
                    text-align: center

                .name
                    margin-top: 0px
                    margin-bottom: 0px
                    font-family: MyScript, cursive;
                    font-size: 100px
                    color: secondary-font-color
                    text-align: center

                .address
                    margin-top: 0px
                    margin-bottom: 0px
                    font-size: 40px
                    color: secondary-font-color
                    text-align: center

                .address-container
                    margin-top: 10px

                .time-label
                    float: left
                    clear: right
                    margin-top: 0px
                    margin-bottom: 0px
                    font-size: 40px

                .time-description
                    float: right
                    margin-top: 0px
                    margin-bottom: 0px
                    font-size: 40px

                .time-info
                    margin-top: 20px
                    width: 510px
                    margin-left: auto
                    margin-right: auto