.details
    .event-details-drawer
        margin-top: 500px
        height: 1000px

        .non-left
            margin-left: 100px

        img
            width: 288px
            height: auto
            float: left

        .event-details-text
            width: 375px
            margin-left: 720px

            .top-text
                margin-top: 0px
                margin-bottom: 0px
                font-size: 21px
                word-spacing: .25em

            .wedding
                margin-top: 5px
                margin-bottom: 0px
                font-size: 21px
                letter-spacing: 45px
                margin-right: -45px

            .name
                margin-top: 0px
                margin-bottom: 0px
                font-family: MyScript, cursive;
                font-size: 48px
                color: secondary-font-color
                text-align: center

            .address
                margin-top: 0px
                margin-bottom: 0px
                font-size: 14px
                color: secondary-font-color
                text-align: center

            .address-container
                margin-top: 10px

            .time-label
                float: left
                clear: right
                margin-top: 0px
                margin-bottom: 0px
                font-size: 16px

            .time-description
                float: right
                margin-top: 0px
                margin-bottom: 0px
                font-size: 16px

            .time-info
                margin-top: 20px
                width: 240px
                margin-left: auto
                margin-right: auto