@media screen and (max-device-width: 800px)
    .details
        .event-details-drawer
            margin-top: 750px
            height: 2000px

            .non-left
                margin-left: auto

            img
                display: block
                margin: auto
                width: 50%
                height: auto
                clear: both
                float: none
                margin-bottom: 50px

            .event-details-text
                margin-top: 50px
                width: 100%
                margin-left: 0px
                clear: both
                float: none

                .top-text
                    margin-top: 0px
                    margin-bottom: 0px
                    font-size: 50px
                    word-spacing: 0em
                    width: 100%
                    text-align: center

                .wedding
                    margin-top: 5px
                    margin-bottom: 0px
                    font-size: 50px
                    letter-spacing: 110px
                    margin-right: -110px
                    text-align: center

                .name
                    margin-top: 0px
                    margin-bottom: 0px
                    font-family: MyScript, cursive;
                    font-size: 100px
                    color: secondary-font-color
                    text-align: center

                .address
                    margin-top: 0px
                    margin-bottom: 0px
                    font-size: 40px
                    color: secondary-font-color
                    text-align: center

                .address-container
                    margin-top: 10px

                .time-label
                    float: left
                    clear: right
                    margin-top: 0px
                    margin-bottom: 0px
                    font-size: 40px

                .time-description
                    float: right
                    margin-top: 0px
                    margin-bottom: 0px
                    font-size: 40px

                .time-info
                    margin-top: 20px
                    width: 510px
                    margin-left: auto
                    margin-right: auto