.details
    .map-travel-drawer
        margin-top: 500px
        height: 1000px

        img
            float: left
            width: 288px
            height: auto
            margin-left: 83px
            margin-right: 61px

        .info-title
            font-size: 21px
        .info-header
            font-size: 16px
        .info-text
            font-size: 16px
        .info-link
            font-size: 14px

        .left-info
            float: left

            .info-title
                letter-spacing: -.01em

            .bottom-paragraph
                margin-top: 20px

            .info-header
                margin-bottom: 0px

            .info-text
                margin-top: 0px
                margin-bottom: 0px

            .one
                letter-spacing: -.06em
            .two
                letter-spacing: -.02em
            .three
                letter-spacing: -.06em
            .four
                letter-spacing: -.05em
            .five
                letter-spacing: -.04em

            .six
                letter-spacing: -.03em
            .seven
                letter-spacing: -.07em
            .eight
                letter-spacing: .09em

        .right-info
            padding-top: 1px

            .info-text
                letter-spacing: .03em
            .info-link
                color: main-font-color
                letter-spacing: -.05em

        .map-container
            width: 100%

            img
                margin-left: auto
                margin-right: auto
                margin-top: 30px
                width: 1080px
                height: 300px

