@media screen and (max-device-width: 600px)
    .details
        .map-travel-drawer
            margin-top: 750px
            height: 2000px

            img
                display: block
                margin: auto
                width: 50%
                height: auto
                clear: both
                float: none
                margin-bottom: 50px

            .info-title
                font-size: 60px
                padding: 0px 50px
            .info-header
                font-size: 55px
                padding: 0px 50px
            .info-text
                font-size: 50px
                padding: 0px 50px
            .info-link
                font-size: 37px
                padding: 0px 50px

            .left-info
                float: none
                clear: both

                .info-title
                    letter-spacing: -.01em

                .bottom-paragraph
                    margin-top: 20px

                .info-header
                    margin-bottom: 0px

                .paragraph
                    width: 90%
                    text-align: justify
                    letter-spacing: -.01em
                    font-size: 50px
                    padding: 0px 50px

            .right-info
                padding-top: 1px

                .info-link
                    color: main-font-color

            .map-container
                width: 100%

                img
                    margin-left: auto
                    margin-right: auto
                    margin-top: 30px
                    width: 90%
                    height: auto

