.details
    .stay-local-drawer
        margin-top: 500px
        height: 1000px

        .stay-local
            width: 288px
            height: auto
            margin-left: 25px

        .info-text-block
            margin-bottom: 10px
            .info-text
                margin-top: 0px
                margin-bottom: 0px

        .info-title
            font-size: 21px
            margin-bottom: 4px

        .non-last-address-block
            margin-right: 50px

        .address-block
            float: left
            margin-top: 10px
            cursor: pointer

            .address
                text-align: center
                color: secondary-font-color
                margin-top: -3px
                margin-bottom: -3px
                letter-spacing: -.02em
                word-spacing: -.04em
                font-size: 14px

        .top-info
            float: left

            .one
                letter-spacing: -.05em
            .two
                letter-spacing: -.01em

        .bottom-info
            clear: both
            margin-top: -100px

            .one
                letter-spacing: -.07em;
            .two
                letter-spacing: -.06em;
                word-spacing: .04em;

