@media screen and (max-device-width: 800px)
    .details
        .stay-local-drawer
            margin-top: 750px
            height: 2000px

            .stay-local
                display: block
                margin: auto
                width: 50%
                height: auto
                clear: both
                float: none
                margin-bottom: 50px

            .info-text-block
                margin-bottom: 10px
                width: 90%;
                padding: 0 50px;
                text-align: justify
                letter-spacing: -.05em
                font-size: 50px

            .info-title
                font-size: 55px
                padding-left: 50px
                margin-bottom: 4px

            .non-last-address-block
                margin-right: 50px

            .address-block
                float: none
                clear: both
                margin: 25px 0px
                cursor: pointer

                .address
                    text-align: center
                    color: secondary-font-color
                    margin-top: -3px
                    margin-bottom: -3px
                    letter-spacing: -.02em
                    word-spacing: -.04em
                    font-size: 40px

            .top-info
                float: none
                clear: both

            .bottom-info
                clear: both
                margin-top: 0px

