.entourage
    person(name="rianne", two-images="false")
    person(name="joel", two-images="true")
    person(name="adrienne", two-images="false")
    person(name="nicholas", two-images="true")
    person(name="sue", two-images="false")
    person(name="jason", two-images="true")
    person(name="geraldine", two-images="false")
    person(name="gabriel", two-images="true")