@media screen and (max-screen-width: 800px)
    .gallery
        margin-left: auto;
        margin-right: auto;
        .item, .item.h1, item.vs, item.hm
	        width: 80% !important
	        margin: 50px auto !important

        img
            position: static
            height: auto !important
            width: 80% !important
            display: block !important
            margin: 50px auto !important
            border-radius: 50px !important