@media screen and (max-device-width: 600px)
    .gallery
        center-on-screen()

        img
            position: static
            height: auto !important
            width: 80% !important
            display: block !important
            margin: 50px auto !important
            border-radius: 50px !important