@media screen and (max-device-width: 600px)
    .gallery
        center-on-screen()

        img
            position: static
            width: 100%
            height: auto
            vertical-align: top
            margin-top: 100px !important

        .gallery-right-img
            margin-left: 0px

        .gallery-bottom-img
            margin-top: 0px

        .gallery-row-two-lift
            top: 0px

        .gallery-row-three-lift
            top: 0px

        .one-one
            height: auto
            width: 100%

        .one-two
            height: auto
            width: 100%

        .one-three
            height: auto
            width: 100%

        .one-four
            height: auto
            width: 100%

        .two-one
            top: 0px
            height: auto
            width: 100%

        .two-two
            height: auto
            width: 100%

        .two-three
            height: auto
            width: 100%

        .three-one
            height: auto
            width: 100%

        .three-two
            height: auto
            width: 100%

        .three-three
            height: auto
            width: 100%

        .three-four
            height: auto
            width: 100%

        .four-one
            height: auto
            width: 100%
            top: 0px
            left: 0px

        .four-two
            top: 0px
            left: 0px
            height: auto
            width: 100%

        .five-one
            left: 0px
            top: 0px
            height: auto
            width: 100%

        .five-two
            top: 0px
            left: 0px
            height: auto
            width: 100%

        .six-one
            width: 0px
            height: 0px
            height: auto
            width: 100%