.gallery
    max-width: 80%
    margin-left: auto
    margin-right: auto

    .item
        width: 20%
        margin: 3px
    .item.w2
        width: 20%
    .item.w3
        width: 40%
    img
        position: relative

    .gallery-right-img
        margin-left: 13px

    .gallery-bottom-img
        margin-top: 13px

    .gallery-row-two-lift
        top: -88px

    .gallery-row-three-lift
        top: -100px

    .one-one
        height: 367px
        width: 245px

    .one-two
        width: 372px
        height: 279px

    .one-three
        width: 210px
        height: 279px

    .one-four
        width: 210px
        height: 279px

    .two-one
        top: 18px
        width: 245px
        height: 153px

    .two-two
        width: 432px
        height: 288px

    .two-three
        width: 374px
        height: 249px

    .three-one
        width: 245px
        height: 367px

    .three-two
        width: 203px
        height: 269px

    .three-three
        width: 216px
        height: 151px

    .three-four
        width: 376px
        height: 251px

    .four-one
        width: 308px
        height: 231px
        top: -218px
        left: 461px

    .four-two
        top: -218px
        left: 462px
        width: 283px
        height: 425px

    .five-one
        left: -618px
        top: -100px
        width: 461px
        height: 306px

    .five-two
        top: -417px
        left: 462px
        width: 309px
        height: 185px

    .six-one
        width: 432px
        height: 80px
        top: -895px
        left: -64px