.gallery
    div
        center-on-screen()

        .item
            width: 24%
            margin: 0.5%
        .item.hl
            width: 49%
            margin: 0.5%
        .item.vs
            width: 17%
            margin: 0.5%
        .item.hm
            width: 38%
            margin: 0.5%
        img
            position: relative
            vertical-align: top
