.gallery
    center-on-screen()

    img
        float: left

    .one-one
        height: 367px
        width: 245px

    .one-two
        height: 279px
        width: 372px

    .one-three
        height: 279px
        width: 210px

    .one-four
        height: 279px
        width: 210px

    .two-one
        clear: left
        height: 153px
        width: 245px

    .two-two
        height: 288px
        width: 432px

    .two-three
        clear: right
        height: 249px
        width: 373px

    .three-one
        height: 367px
        width: 245px

    .three-two
        height: 273px
        width: 205px

    .three-three
        height: 155px
        width: 224px

    .three-four
        clear: right
        height: 373px
        width: 249px