.rsvp
    height: max-content-height
    center-on-screen()

.rsvp    

    .text-container
        margin: 0 auto;
        width: 80%
        max-width: 1400px
        color: white
        .rsvp-text-form
            float: left
            width: 48%
            max-width: 500px
            margin-top: 20px

            .rsvp-title
                margin-bottom: 5px
                font-family: "Merriweather"
                font-size: 24px
            .rsvp-link
                font-size: 18px

            a
                color: lightblue
                text-decoration: none
            p
                margin: 0px

        .rsvp-text
            width: 48%;
            max-width: 550px;
            float: right
            h1
                font-size: 40px
                font-family: "Merriweather"
                font-weight: 100
        
            .registry-rsvps
                font-size: 24px
                font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
                
                .attribution
                    font-size: 20px
                    margin-left: 20px
                    margin-top: 0px;
                    color: #EFEFEF
                    margin-top: 5px
                    margin-bottom: 15px;
                    font-family: MainFont
                q
                    font-style: italic
                    box-shadow: 5px 5px 10px rgba(2,2,2,0.7);
                    background-color: rgba(2,2,2,0.6);
                    padding: 5px;
                    overflow: auto
                    display: inline-block

    input, textarea
        width: 350px;
        color: #6b6b6b

    select
        font-size: 18px

    input.submit
        margin: 0 auto;
        border: none
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px;
        width: 274px;
        font-size: 24px;
        margin-bottom: 70px;
        border-bottom: none
        width: auto
        display: block;
        color: white;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 0 1px 1px rgba(121, 97, 97, 0.92),inset 0 -1px 1px rgba(0,0,0,.22);
        -webkit-box-shadow: 0 1px 1px rgba(121, 97, 97, 0.92),inset 0 -1px 1px rgba(0,0,0,.22);
        box-shadow: 0 1px 1px rgba(121, 97, 97, 0.92),inset 0 -1px 1px rgba(0,0,0,.22);
        background-image: #7c149f;
        background-image: -moz-linear-gradient(90deg, #8F8F8F 0,#A7A7A7 100%);
        background-image: -o-linear-gradient(90deg, #8F8F8F 0,#A7A7A7 100%);
        background-image: -webkit-linear-gradient(90deg, #8F8F8F 0,#A7A7A7 100%);
        background-image: linear-gradient(90deg, #8F8F8F 0,#A7A7A7 100%);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        font-family: "Helvetica Neue", "Helvetica", "Arial"



        &:hover
            -moz-box-shadow: 0 1px 1px rgba(160, 160, 160, 0.92),inset 0 -1px 1px rgba(0,0,0,.22);
            -webkit-box-shadow: 0 1px 1px rgba(160, 160, 160, 0.92),inset 0 -1px 1px rgba(0,0,0,.22);
            box-shadow: 0 1px 1px rgba(160, 160, 160, 0.92),inset 0 -1px 1px rgba(0,0,0,.22);
            
            background-image: -moz-linear-gradient(90deg, #AAA6A6 0,#B6B6B6 100%);
            /* gradient fill */
            background-image: -o-linear-gradient(90deg, #AAA6A6 0,#B6B6B6 100%);
            /* gradient fill */
            background-image: -webkit-linear-gradient(90deg, #AAA6A6 0,#B6B6B6 100%);
            /* gradient fill */
            background-image: linear-gradient(90deg, #AAA6A6 0,#B6B6B6 100%);
            /* gradient fill */
            text-decoration: none;

        &:active
            -moz-box-shadow: 0 1px 1px rgba(121, 97, 97, 0.92),inset 0 -1px 1px rgba(0,0,0,.22);
            -webkit-box-shadow: 0 1px 1px rgba(121, 97, 97, 0.92),inset 0 -1px 1px rgba(0,0,0,.22);
            box-shadow: 0 1px 1px rgba(121, 97, 97, 0.92),inset 0 -1px 1px rgba(0,0,0,.22);
            
            background-image: -moz-linear-gradient(90deg, #868686 0,#8B8B8B 100%);
            /* gradient fill */
            background-image: -o-linear-gradient(90deg, #868686 0,#8B8B8B 100%);
            /* gradient fill */
            background-image: -webkit-linear-gradient(90deg, #868686 0,#8B8B8B 100%);
            /* gradient fill */
            background-image: linear-gradient(90deg, #868686 0,#8B8B8B 100%);
            /* gradient fill */


    .rsvp-text-form
        font-family: "Merriweather", serif
        font-weight: 100
        
        max-width: 500px;
        width: 100%
        color: white
        text-align: center
        .rsvp-title
            margin-bottom: 10px
            font-size: 50px
            text-shadow: 0px 0px 10px #111

        .rsvp-details
            font-size: 40px

        a
            color: white
            text-decoration: none
        p
            margin: 0px

    .rsvp-image-props
        position: fixed
        bottom: 10px
        left: 10px

        a
            font-size: 14px
            color: white