extends layout

block content
    .navigation
        ul
            li.nav-item
              a(href="#/home") HOME
            li.nav-item
              a(href="#/story") OUR STORY
            li.nav-item
              a(href="#/gallery") GALLERY
            li.nav-item
              a(href="#/details") EVENT DETAILS
            li.nav-item
              a(href="#/entourage") ENTOURAGE
            li.nav-item
              a(href="#/registry") REGISTRY

    .nav-spacer

    .container(ng-view)
        .small-content


block scripts
  script(src='lib/jquery/jquery-1.11.0.js')
  script(src='js/bundle.js')