extends layout

block content
    .navigation
        ul
            li.nav-item.first-nav-item
              a(href="#/home") HOME
            li.nav-item.non-first-nav-item
              a(href="#/story") OUR STORY
            li.nav-item.non-first-nav-item
              a(href="#/gallery") GALLERY
            li.nav-item.non-first-nav-item
              a(href="#/details") CEREMONY
            li.nav-item.non-first-nav-item
              a(href="#/rsvp") RSVP
            li.nav-item.non-first-nav-item
              a(href="#/registry") REGISTRY

    .nav-spacer

    .container(ng-view)
        .small-content

    script(src='lib/fancybox/jquery.fancybox.pack.js')
    script(src='lib/parallax/jquery.localscroll.js')
    script(src='lib/parallax/jquery.scrollTo.js')
    script(src='lib/parallax/jquery.parallax.js')
    script(src='lib/parallax/jquery.inview.js')
    script(src='lib/masonry.pkgd.min.js')

block scripts
    script(src='lib/jquery/jquery-1.11.0.js')
    script(src='lib/jquery/jquery.validate.min.js')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js')
    script(src='js/bundle.js')