doctype 5
html(ng-app="justineAndCorybill")
  head
    title Justine & Cory Bill
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='lib/fancybox/jquery.fancybox.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    block scripts
  body
    block content