doctype 5
html(ng-app="mackenzieAndJonathanPyke")
  head
    title Mackenzie & Jonathan Pyke
    meta(name="viewport", content="width=device-width")
    link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='lib/fancybox/jquery.fancybox.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css')
    block scripts
  body
    block content