.story
    width: 100%

    .play-button
        z-index: 10
        position: fixed
        left: 25px
        top: 115px
        cursor: pointer

    .content
        position: relative

    .text
        text-align: justify
        width: 600px
        z-index: 3
        position: absolute
        font-size: 20px
        height: 450px
        left: 20px
        bottom: 0px

    .next
       width: 100%;
       text-align: center
       position: absolute
       bottom: 0px
       cursor: pointer

    .image
        z-index: 1

    .container
        z-index: 2

    .poem
        position: absolute
        top: 300px
        right: 100px
        z-index: 3

        p
            font-size: 25px
            margin-top: 0px
            margin-bottom: 0px
            text-align: center;
    .image
        background-size: 100% auto
        width: 1920px
        height: 800px

    .container
        height: 500px
        width: 100%

    .one-image
        background url(../images/story/one.jpg) 50% 0 no-repeat fixed
    .two-image
        background url(../images/story/two.jpg) 50% 0 no-repeat fixed
    .three-image
        background url(../images/story/three.jpg) 50% 0 no-repeat fixed
    .four-image
        background url(../images/story/four.jpg) 50% 0 no-repeat fixed
    .five-image
        background url(../images/story/five.jpg) 50% 0 no-repeat fixed
    .six-image
        background url(../images/story/six.jpg) 50% 0 no-repeat fixed
    .seven-image
        background url(../images/story/seven.jpg) 50% 0 no-repeat fixed