.story
    width: 100%

    .play-image
        z-index: 10
        position: fixed
        left: 25px
        top: 115px
        cursor: pointer
        opacity: .8

    .play-text
        font-family: MyScript, cursive;
        font-size: 72px
        color: secondary-font-color
        z-index: 11
        position: fixed
        left: 45px
        top: 40px
        cursor: pointer

    .content
        position: relative

    .text
        text-align: justify
        width: 600px
        z-index: 3
        position: absolute
        font-size: 20px
        height: 450px
        left: 20px
        top: 100

    .next
       width: 100%;
       text-align: center
       position: absolute
       bottom: 0px
       cursor: pointer

    .image
        z-index: 1

    .container
        z-index: 2

    .image
        background-size: 100% auto
        width: 1920px
        height: 800px

    .container
        height: 500px
        width: 100%

    .pre-image
        background url(../images/story/pre.jpg) 50% 0 no-repeat fixed
    .one-image
        background url(../images/story/one.jpg) 50% 0 no-repeat fixed
    .two-image
        background url(../images/story/two.jpg) 50% 0 no-repeat fixed
    .three-image
        background url(../images/story/three.jpg) 50% 0 no-repeat fixed
    .four-image
        background url(../images/story/four.jpg) 50% 0 no-repeat fixed
    .five-image
        background url(../images/story/five.jpg) 50% 0 no-repeat fixed
    .six-image
        background url(../images/story/six.jpg) 50% 0 no-repeat fixed
    .seven-image
        background url(../images/story/seven.jpg) 50% 0 no-repeat fixed