@media screen and (max-device-width: 800px)
    .story
        .container
            .whitebackground
                width: inherit
                display: block
                padding: 10px 10px
                min-height: 100%
            .image
                position: inherit
                display: block
                box-shadow: none
                width: 100%
