.story
    width: 100%
    .play-button
        position: fixed
        z-index: 12

        .play-image
            z-index: 10
            position: fixed
            left: 25px
            top: 115px
            opacity: .8

        .play-text
            font-family: MyScript, cursive;
            font-size: 72px
            color: secondary-font-color
            z-index: 11
            position: fixed
            left: 45px
            top: 40px
            cursor: default

    .pre-image
        background url(../images/story/pre.jpg) 50% 0 no-repeat 
    .one-image
        background url(../images/story/one.jpg) 50% 0 no-repeat 
    .two-image
        background url(../images/story/two.jpg) 50% 0 no-repeat 
    .three-image
        background url(../images/story/three.jpg) 50% 0 no-repeat 
    .four-image
        background url(../images/story/four.jpg) 50% 0 no-repeat 
    .five-image
        background url(../images/story/five.jpg) 50% 0 no-repeat 
    .six-image
        background url(../images/story/six.jpg) 50% 0 no-repeat 
    .seven-image
        background url(../images/story/seven.jpg) 50% 0 no-repeat